<div class="col-12 col-md-10">
  <button class="btn btn-outline-primary" (click)=goBack()> Retour</button>
</div>
<div class="col-md-9 col-12 mx-auto">
  <p class="justify-content-center d-flex h1 mb-5">{{projet?.name}}</p>
  <div class="mx-auto col-md-6 col-12">
    <img [src]="'assets/img/'+projet?.slug+'.jpg'" class="img-fluid" alt="{{projet?.slug}}">
  </div>
  <p class="my-5"><strong class="text-bold" *ngIf="projet?.desc != ''">Description : </strong>{{projet?.desc}}</p>

  <a class="btn btn-outline-secondary mx-auto btn-lg col" *ngIf="projet?.lien" target="_blank"
    [href]="projet?.lien">Voir le site</a>
  <div class="row d-flex justify-content-around my-4">
    <a *ngIf="projet?.cahierCharges" target="_blank" [href]="projet?.cahierCharges" class="btn btn-primary">Cahier des
      Charges</a>
    <a *ngIf="projet?.dossierTechnique" target="_blank" [href]="projet?.dossierTechnique"
      class="btn btn-secondary">Dossier
      Technique</a>
    <a *ngIf="projet?.sourceCode" target="_blank" [href]="projet?.sourceCode" class="btn btn-primary">Code source</a>
    <a *ngIf="projet?.presentation" target="_blank" [href]="projet?.cahierCharges"
      class="btn btn-secondary">Présentation</a>
  </div>
  <p class="h3">Compétences obtenues : </p>
  <ul>
    <li *ngFor="let competence of projet?.competences">{{competence}}</li>
  </ul>
</div>