<div class="hovereffect">
  <img src="assets/img/moi.jpg" alt="portrait" class="rounded-circle" width="100%" />
  <div class="overlay rounded-circle">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pres" width="100%"
      viewBox="0 0 400 400">
      <defs>
        <clipPath id="b">
          <rect width="400" height="400" />
        </clipPath>
      </defs>
      <g id="a" clip-path="url(#b)">
        <text transform="translate(60 125)" fill="#fff" font-size="30" font-family="SegoeUI, Segoe UI">
          <tspan x="0" y="0">+33 6 68 59 46 91</tspan>
        </text>
        <text transform="translate(40 184)" fill="#fff" font-size="25" font-family="SegoeUI, Segoe UI">
          <tspan x="0" y="0">40 boulevard des castors</tspan>
        </text>
        <text transform="translate(97 220)" fill="#fff" font-size="25" font-family="SegoeUI, Segoe UI">
          69005, LYON
        </text>
        <text transform="translate(20 265)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI">
          <tspan x="0" y="0">pierre.leroyer69@gmail.com</tspan>
        </text>
        <text transform="translate(152 324)" fill="#fff" font-size="32" font-family="SegoeUI, Segoe UI">
          <tspan x="0" y="0">{{anniversaire()}} ans</tspan>
        </text>
      </g>
    </svg>
  </div>
</div>